.chat {
  position: relative;
  width: 100%;
  height: 90vh;
  padding: {
    top: 60px;
    bottom: 50px;
  };
  overflow-y: auto;

  .head {
    top: 0;
    position: absolute;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background-color: white;
    p {
      margin: 0;
      text-align: center;
    }

    .delete-btn{
      position: absolute;
      right: 0;
    }

    .profile-btn {
      position: absolute;
      right: 80px;
    }

  }

  .input-field {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
  }

  .messages {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: auto;

    .my {
      float: right;
      clear: both;
      margin: {
        right: 20px;
        bottom: 20px;
      }
      padding: 5px;
      background-color: white;
      border-radius: 5px;
      min-width: 50px;
    }

    .other {
      float: left;
      clear: both;
      margin: {
        left: 20px;
        bottom: 20px;
      }
      padding: 5px;
      background-color: white;
      border-radius: 5px;
      min-width: 50px;

    }

    .choose-time {
      position: relative;
      clear: both;
      width: auto;

      .calendar {
        width: 100%;
        height: auto;
        background-color: white;
        position: absolute;
        bottom: 50px;
        left: 0px;
      }
    }
  }

}